@import "./variables.scss";

@font-face {
    font-family: $Roboto;
    src: local('Roboto'), local('Roboto-Regular'),
      url('./../fonts/Roboto.woff') format('woff'), 
      url('./../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: $Source_Sans;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
        url('./../fonts/sourcesanspro.woff') format('woff'),
        url('./../fonts/sourcesanspro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $Source_Sans_Black;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
      url('./../fonts/sourcesansproblack.woff') format('woff'),
       url('./../fonts/sourcesansproblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
	font-family: $Open_Sans;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('./../fonts/OpenSans-Regular.woff') format('woff'),
		url('./../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $Open_Sans_bold;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('./../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: $big_john;
    src: 
		url('./../fonts/BIG_JOHN.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('./../fonts/Pe-icon-7-stroke.eot');
	src:url('./../fonts/Pe-icon-7-stroke.eot') format('embedded-opentype'),
		url('./../fonts/Pe-icon-7-stroke.woff') format('woff'),
		url('./../fonts/Pe-icon-7-stroke.ttf') format('truetype'),
		url('./../fonts/Pe-icon-7-stroke.svg#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pe-icon-social';
	src:url('./../fonts/pe-icon-social.eot');
	src:url('./../fonts/pe-icon-social.eot') format('embedded-opentype'),
		url('./../fonts/pe-icon-social.woff') format('woff'),
		url('./../fonts/pe-icon-social.ttf') format('truetype'),
		url('./../fonts/pe-icon-social.svg#pe-icon-social') format('svg');
	font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $Open_Sans;
}
.container {
    max-width: 1170px;
    padding: 0 98px;
    margin: 0 auto;
}

.page_header {
    background: url(./../Images/Layer_1.jpg) no-repeat;
    background-size: cover;
    padding-top: 40px;
        &__wrapper {
            padding: 0;
        }

        &__logo {
            font-family: $big_john;
            font-size: 25px;
            color: $color_menu;
        }
        &__nav_menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__content {
            padding-top: vw(221);
            padding-bottom: vw(77);
            text-align: center;
        }
        &__heading {
            color: $color_text;
            margin-bottom: vw(220);
            text-align: center;

            &_main {
                font-family: $Source_Sans;
                font-size: 35px;
                text-transform: uppercase;
                letter-spacing: 7px;
                line-height: 70px;
                margin-bottom: vw(43);
            }

            &_secondary {
                font-size: 16px;
                line-height: 28px;
            }
        }

        &__icon {
            width: 36px;
            height: 36px;
            margin: 0 auto;
        }
            
}
.icon {
    color: #fff;
    font-size: 30px;
    line-height: 35px;
}
.section_icon {
    border-radius: 50%;
    background-color: $background_color_2;
    text-align: center;
    
    cursor: pointer;


    &_first {
        background-color: $background_color;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    &:last-child {
        padding-right: 0;
    }


    &_item {
        list-style-type: none;
        padding: 9px 22px;

        &:hover {
            border-radius: 25px;
            border: $color_menu solid 1px;
        }
    }
    &_link {
        text-decoration: none;
        color: $color_menu;
        font-size: 16px;
    }
}
.section-heading {
    text-align: center;
    &__main {
        font-family: $Source_Sans;
        font-size: 20px;
        letter-spacing: 4px;
        line-height: 12px;
        margin-bottom: vw(41);
        color: $color_text_2;
        text-transform: uppercase;
    }
    &__secondary {
        font-family: $Open_Sans;
        font-size: 14px;
        letter-spacing: 0.7px;
        line-height: 25px;
        color: $color_text_2;
    }
    &_light {
        color: $color_text;
    }
    &_left {
        text-align: left;
    }

}

.slide {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: image 15s infinite;
}


.slider {
    &_content {
        display: flex;
        padding-left: vw(156);
        padding-right: 0;
        position: relative;
        justify-content: flex-start;
    }
    &-heading {
        padding-top: vw(114);
        width: 53%;
        padding-right: 66px;
        padding-bottom: vw(101);
    }
    &-main {
        margin-bottom: 49px;
    }
    &-text {
        margin-bottom: vw(33);
    }
    &__images {
        position: relative;
        width: 460px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 57px;

        &_first {
            background: url(./../Images/IPAD.png) no-repeat;
            width: 215px;
            height: 350px;
            left: 25%;
            bottom: 0;
            animation-delay: -5s;

        }

        &_second {
            background: url(./../Images/Smart_Cover.png) no-repeat;
            width: 192px;
            height: 315px;
            top: 0;
            left: 25%;
            animation-delay: -10s;
        }
        &_third {
            background: url(./../Images/iMac.png) no-repeat;
            width: 385px;
            height: 309px;
            top: 2%;
            left: 0;
            animation-delay: -15s;
        }
    }
}
.submit {
    border-radius: 19px;
    border: 1px solid #333b46;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 12px;
    outline: 0;
    cursor: pointer;
}

.about {
    background-color: #f3f3f3;
    &__content {
        padding: vw(80) vw(130) vw(101) vw(71);
    }

    &_heading {
        margin-bottom: vw(60);
    }

    &__info {
        display: flex;
        flex-direction: column;

        &_text {
            display: flex;
            justify-content: space-between;
            

        }
        &_main {
            margin-bottom: vw(39);
            font-size: 20px;
        }

        &:not(:last-child) {
            padding-right: vw(129);
        }
    }
    &__text {
        
        &_first {
            font-size: 16px;
            letter-spacing: 0.8px;
            line-height: 28px;
            width: 35%;
        }
        &_second {
            font-size: 14px;
            letter-spacing: 0.7px;
            line-height: 25px;
            width: 55%;
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        margin-bottom: vw(61);

    }

    &__icon {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        padding: 10px;

        &_sz {
            padding: 7px;
        }

        &:not(:last-child) {
            margin-right: 27px;
        }
    }
}
.color_text {
    font-family: $Open_Sans_bold;
     
    &_second {
        color: #19bd9a;
    }
}

//section feature

.feature {

    &_content {
        padding-top: vw(80);

    }

    &_heading {
        margin-bottom: vw(61);
    }

    &__images {
        display: flex;
        height: 319px;
    }

    &__image {
        background: url(./../Images/Layer_83.jpg) no-repeat 100%;
        width: 50%;

        &_first {
            background: url(./../Images/Layer_17.jpg) no-repeat 100%;
            width: 25%;
        }
        &_second {
            background: url(./../Images/Layer_18.jpg) no-repeat 100%;
            width: 25%;
        }
    }
}