@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('./fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
        font-family: 'Myriad Pro Bold';
        src: url('./fonts/MyriadPro-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
@media screen and (max-width: 300px) {
.container {
    width: 250px;
    margin: 0 auto;
}
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #262b2e;
    padding: 45px 0 35px;
    overflow: hidden;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.page-header-logo {
    font-family: 'Myriad Pro Regular';
    display: block;
    float: left;
    line-height: 1;
    letter-spacing: -2.4px;
    font-size: 55px;
    color: #ededed;
}
.page-header-menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding-top: 25px;
}
.page-header-menu-item {
    display: inline-block;
}

.page-header-menu-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ededed;
    font-size: 16px;
    letter-spacing: -0,6px;
    cursor: pointer;
}
.active {
    color: #0b8bba;
}
.page-header-menu-item::after {
    content: "--";
    color: #ededed;
    font-size: 16px;
    margin: 5px;
}
.page-header-menu-item:last-child::after {
    content: none;
}
.heading {
    padding: 65px 0 30px;
}
.main-heading {
    width: 100%;
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Myriad Pro Bold';
    letter-spacing: -2.4px;
    line-height: 50px;
    
}
.main-heading-highlight {
    color: #00c2f2;
}
.secondary-heading {
    font-family: 'Myriad Pro Regular';
    font-size: 50px;
    letter-spacing: -2px;
    font-stretch: condensed;
    color: #bababa;
}
.text-info {
    padding: 33px 0;
}
.text-info-title {
    font-size: 35px;
    font-family: 'Myriad Pro Regular';
    color: #555555;
    letter-spacing: -0.6px;
}
section {
    border-bottom: dotted 2px #cccccc;
}
.cards {
    padding: 45px 0;
}
.card {
    display: block;
    float: left;
    width: 285px;
    background-color: #00aeef;
    padding: 0 25px 35px;
    text-align: center;
    color: #fff;
    box-shadow: 5px 5px 10px #aaa;
    margin-bottom: 10px;
}
.card-description {
    font-family: 'Arial';
    font-size: 16px;
    line-height: 1.5;
    padding:  25px 0 30px;
}
.card:not(:last-child) {
    margin-right: 50px;
}
.card-heading {
    font-family: 'Myriad Pro Regular';
    padding: 30px 0 15px;
    line-height: 1;
    font-size: 40px;
    letter-spacing: -1.6px;
    border-bottom: dotted 2px #fff;
}
.card-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0076a3;
    box-shadow: inset 0px 0px 5px #235162;
    border: solid 1px #235162;
    cursor: pointer;
}
.link-decorated {
    text-decoration: none;
    color: #fff;
    font-family: 'Myriad Pro Regular';
    font-size: 16px;
    letter-spacing: -0.7px;
    line-height: 1;
    text-transform: uppercase;
}
.link-decorated::after {
    content: ">>";
    display: inline-block;
    margin-left: 5px;
}
.two-columns {
    padding: 35px 0;
}
.two-columns-item-heading {
    font-family: 'Myriad Pro Regular';
    font-size: 20px;
    letter-spacing: 0.9px;
    line-height: 42px;
}
.testimonials {
    display: inline-block;
    width: 50%;
    float: left;
    border-right: dotted 2px #cccccc;
}
.testimonial {
    float: left;
}
.testimonial-comment {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 15px;
    color: #555;
}
.testimonial-avatar {
    position: relative;
    float: left;
    padding: 40px;
    margin: 20px 20px 10px 0;
    background-color: #cccccc;
    border: solid 1px #cccccc;
}
.testimonial-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.testimonial-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.link,
.project-link {
    text-decoration: none;
    color: #00aeef;
}
.projects {
    width: 50%;
    display: inline-block;
    padding-left: 40px;
}
.project-title {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   color: #888;  
}
.project-img {
    width: 95%;
    margin: 20px 0px 10px 0px;
    box-shadow: 3px 4px 5px 0px #ccc;
}
.project-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 20px;
}
.project-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.page-footer {
    padding: 20px 0 20px;
    display: inline-block;
    float: left;
    width: 100%;
}
.page-footer-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #888;
    letter-spacing: 0.6px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}