 @import "variables.scss";
 * {
      box-sizing: border-box;
  }

@font-face {
	font-family: '$Gotham_Pro';
	src: url('./fonts/GothamPro/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('./fonts/GothamPro/GothamPro-Black.woff') format('woff'),
        url('./fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
}
@font-face {
    font-family: '$Lato';
    src: url('./fonts/Lato/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('./fonts/Lato/Lato-Regular.eot') format('embedded-opentype'),
        url('./fonts/Lato/Lato-Regular.woff') format('woff'),
        url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '$Lato_Bold';
    src: url('./fonts/Lato/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('./fonts/Lato/Lato-Bold.eot') format('embedded-opentype'),
        url('./fonts/Lato/Lato-Bold.woff') format('woff'),
        url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
	font-family: '$Open_Sans';
	src: url('./fonts/OpenSans/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('./fonts/OpenSans/OpenSans-Regular.eot') format('embedded-opentype'),
		url('./fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
		url('./fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: '$FontAwesome';
    src:
      url('./fonts/SAwesome/FontAwesome.ttf') format('truetype'),
      url('./fonts/SAwesome/FontAwesome.woff') format('woff'),
      url('./fonts/SAwesome/FontAwesome.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }


  body {
      margin: 0;
      font-family: $Open_Sans;
      color: #414d51;
  }
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}
/*Header*/

.page-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 22px 0;
}
.page-header__logo {
    margin: 0;
    padding: 0;

        .logo {
        background-image: url(./images/logo.png);
        width: 50px;
        height: 48px;
        }
}
    
.nav_menu {
    margin: 0;
    padding: 0;

    &__item {
        display: inline-flex;
        list-style-type: none;
        }
    &__link {
        border-radius: 3px;
        font-family: $Lato;
        text-decoration: none;
        font-size: 10px;
        padding: 12px 25px;
        text-transform: uppercase;
        line-height: 1;
        color: #414d51;
        
    }
}
.nav_menu__link:hover  {
    background-color: #eeba4d;
    color: white;
}
/*Connection*/
.connection {
    background-color: #7e9bc7;
    padding-top: 110px;
    padding-bottom: 345px;
}
.section-heading {
    line-height: 1;
    text-align: center;

        &__main {
            font-family: $Gotham_Pro;
            text-transform: uppercase;
            font-size: 35px;
            margin-bottom: 2px;
            
        }
        &__secondary {
            font-size: 16px;
            font-weight: 300px;
        }
        &__light{
                color: $heading-color;
            }
}
.form_wrapper {
    margin-top: 33px;
    margin-bottom: 67px;
    padding: 0
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 44px;

        &__submit {
            background-color: $heading-color_2;
            border: none;
            outline: none;
            appearance: none;
            text-transform: uppercase;
            font-size: 12px;
            color: $heading-color;
            padding: 14px 44px;
            width: 211px;
            border-radius: 3px;
        }
}
.form__input {
    position: relative;
    padding: 0;
}
.input__name {
    position: relative;
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
    padding: 15px 35px;
    font-size: 10px;
    border-radius: 3px;
    
    &:not(:last-child) {
        padding-right: 10px;
    }
}
.icon-user {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 16px;
    height: 16px;
}

.input__email {
    position: relative;
    border: none;
    outline: none;
    appearance: none;
    width: 280px;
    padding: 15px 35px;
    font-size: 10px;
    border-radius: 3px;
}
.icon-email {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 13px;
    height: 15px;
}
.input__phone {
    position: relative;
    border: none;
    outline: none;
    appearance: none;
    width: 280px;
    padding: 15px 35px;
    font-size: 10px;
    margin: 0;
    border-radius: 3px;
}

.icon-phone {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 13px;
    height: 15px;
}


/*laptop*/
.slider {
    position: relative;
    width: 645px;
    margin-top: -18%;
    left: 30%;
    overflow: hidden;

        &__laptop {
            position: relative;
            width: 100%;

        }
        &__screen {
            height: 264px;
            position: absolute;
            width: 80%;
            left: 102px;
            top: 18px;
        }
        &__pages {
            text-align: center;
        }
} 

/*service*/
.service {
    padding-top: vw_size(202);
    padding: vw_size(155);
}
.service__content {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-top: 90px;
}
.content-property {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 0;
    margin-bottom: 79px;
}
.property_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 28px;

    &__title {
        font-size: 11px;
        text-transform: uppercase;
        font-family: $Lato_Bold;
        margin-bottom: 21px;
        font-weight: bold;
    }
    &__text {
        font-size: 13px;
    
    }
}
.icon-clock {
    font-size: 50px;
    color: $heading-color_2;
}
.icon-graduation {
    font-size: 45px;
    color: $heading-color_3;
}
.icon-renren {
    font-size: 50px;
    color: $heading-color_3;
}
.icon-cog {
    font-size: 50px;
    color: $heading-color_3;
}
.icon-rocket {
    font-size: 50px;
    color: $heading-color_3;
}
.icon-dollar {
    font-size: 50px;
    color: $heading-color_3;
}
/*about*/
.about {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.about-description {
    width: 50%;
    background: url(./images/Layer_27.jpg) no-repeat;
}
.about-info {
    color: $heading-color;
    background-color: #eeba4d;
    width: 50%;
    text-align: left;
    padding-top: 164px;
    padding-bottom: 174px;
    padding-left: 80px;

        &__title {
            font-size: 30px;
            font-family: $Gotham_Pro;
            text-transform: uppercase;
        }
        &__text {
            font-size: 13px;
            width: 505px;
            margin: 30px 0;
        }

        &__submit {
            border: #d7ab51 solid 1px;
            border-radius: 3px;
            background-color: $heading-color_2;
            font-size: 10px;
            padding: 18px 32px;
            color: $heading-color;
            text-transform: uppercase;
            font-family: $Lato;
            font-weight: 80px;
        }
}
/*price-card*/
.pricing {
    padding-top: vw_size(137);
    padding-bottom: vw_size(164);
    background-color: #e8edf2;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: $Lato;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;


    &__card-1 {
        background-color: $heading-color;
        border: #cdd4de solid 1px;
        border-right: none;
        padding: 55px 30px 50px;
    }
    &__card-2 {
        background-color: $heading-color_3;
        padding: 85px 33px 80px;
        color: $heading-color;
        width: 395px;
        
    }
    &__card-3 {
        background-color: $heading-color;
        border: #cdd4de solid 1px;
        border-left: none;
        padding: 55px 30px 50px;
    }
}
.card-2__val {
    font-family: $Lato_Bold;
    font-size: 50px;
    color: $heading-color;
    }
.function {
    padding: 16px 0px;

    &__menu {
        list-style-type: none;
        border-top: #e3e8ef solid 1px;
        font-family: $Lato;
        font-size: 14px;
        }
}
.card {

    &__name-card {
        font-family: $Lato_Bold;
        font-size: 25px;
        }

    &__val {
        color: #eeba4d;
        font-family: $Lato_Bold;
        font-size: 60px;
            }

    &__card-cost {
        font-size: 20px;
        font-family: $Lato;
    }

    &__button {
        background-color: #eeba4d;
        border: none;
        padding: 16px;
        cursor: pointer;
        }
    
    &__link {
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Lato';
        text-decoration: none;
        color: #fff;
        }

}
.steps {
    display: flex;
}
.icon-headphones {
    font-size: 57px;
    color: $heading-color_3;
}
.icon-unlock {
    font-size: 62px;
    color: $heading-color_3;
}
.icon-cloud-upload {
    font-size: 57px;
    color: $heading-color_3;
}
.icon-thumbs-up {
    font-size: 63px;
    color: $heading-color_3;
}
.step_info {

    &__name {
        font-size: 15px;
        font-family: $Lato_Bold;
        text-transform: uppercase;
    }
    &__text {
        font-size: 13px;
    }
}
.reviews {
    background-color: $heading-color_2;
    
}
